// Remote

// Color: staging
$staging: #00ff00;
$text_on_staging: #000;

// Color: staging.gitflow-feature* 
$staging_feature: #ff7f00;
$text_on_staging_feature: #000;

// Local

// Color: dev.gitflow-master
$dev_master: #ff00ff;
$text_on_dev_master: #fff;

// Color: dev.gitflow-develop
$dev_develop: #00ffff;
$text_on_dev_develop: #000;

// Color: dev.gitflow-feature* 
$dev_feature: #ffff0a;
$text_on_dev_feature: #000;


/**
 * Positioning
 */
div.loft-deploy {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 500;
  div.border {
    position: fixed;
  }
  a {
    position: fixed;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    bottom: 0;
    width: auto;
    z-index: 231;
    padding: 3px 10px 3px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
  }
  div.border.n {
    height: 8px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  div.border.e {
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 8px;
  }
  div.border.s {
    bottom: 0px;
    height: 8px;
    left: 0px;
    right: 0px;
  }
  div.border.w {
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 8px;
  }
  a:hover {
    text-decoration: none;
  }
}

/**
 * Borders & Colors
 */
@mixin borders-colors($color, $text_color) {
  div.border {
    background-color: $color;
  }
  a {
    background-color: $color;
    color: $text_color;
  }  
}

div.loft-deploy {

  // Never shown on prod.
  &.prod {
    display: none;
  }

  // Colorize based on role/git branch.
  &.staging {
    @include borders_colors($staging, $text_on_staging);
  }
  &.staging.gitflow-feature {
    @include borders_colors($staging_feature, $text_on_staging_feature);
  }
  &.dev.gitflow-master {
    @include borders_colors($dev_master, $text_on_dev_master);
  }
  &.dev,
  &.dev.gitflow-develop {
    @include borders_colors($dev_develop, $text_on_dev_develop);   
  }
  &.dev.gitflow-feature {
    @include borders_colors($dev_feature, $text_on_dev_feature);
  }  
}
  