/* Color: staging*/
/* Color: dev.gitflow-master*/
/* Color: dev.gitflow-develop*/
/**
 * Positioning
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000316}}
div.loft-deploy {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 200;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000322}}
div.loft-deploy div.border {
  position: fixed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000325}}
div.loft-deploy a {
  position: fixed;
  font-size: 12px;
  font-weight: bold;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  bottom: 0;
  width: auto;
  z-index: 231;
  padding: 3px 10px 3px;
  border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000340}}
div.loft-deploy div.border.n {
  height: 8px;
  left: 0px;
  right: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000346}}
div.loft-deploy div.border.e {
  bottom: 0px;
  right: 0px;
  top: 0px;
  width: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000352}}
div.loft-deploy div.border.s {
  bottom: 0px;
  height: 8px;
  left: 0px;
  right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000358}}
div.loft-deploy div.border.w {
  bottom: 0px;
  left: 0px;
  top: 0px;
  width: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000364}}
div.loft-deploy a:hover {
  text-decoration: none;
}

/**
 * Borders & Colors
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000372}}
div.loft-deploy.prod {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000376}}
div.loft-deploy.staging div.border {
  background-color: lime;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000379}}
div.loft-deploy.staging a {
  background-color: lime;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000385}}
div.loft-deploy.dev.gitflow-master div.border {
  background-color: fuchsia;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000388}}
div.loft-deploy.dev.gitflow-master a {
  background-color: fuchsia;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000394}}
div.loft-deploy.dev.gitflow-develop div.border {
  background-color: aqua;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/Data\/Users\/aklump\/Repos\/git\/loft_deploy\/loft_deploy\.scss}line{font-family:\0000397}}
div.loft-deploy.dev.gitflow-develop a {
  background-color: aqua;
  color: black;
}
