/* Color: staging*/
/* Color: dev*/
/* Color: gitflow_master*/
div.loft-deploy {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 200; }
  div.loft-deploy div.border {
    background-color: aqua;
    position: fixed; }
  div.loft-deploy a {
    background-color: aqua;
    color: black;
    font-size: 12px;
    font-weight: 600;
    left: 50%;
    line-height: 26px;
    margin-left: -66px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    bottom: 0px;
    width: auto;
    z-index: 231;
    padding: 2px 15px 0;
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px; }
  div.loft-deploy div.border.n {
    height: 8px;
    left: 0px;
    right: 0px;
    top: 0px; }
  div.loft-deploy div.border.e {
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 8px; }
  div.loft-deploy div.border.s {
    bottom: 0px;
    height: 8px;
    left: 0px;
    right: 0px; }
  div.loft-deploy div.border.w {
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 8px; }
  div.loft-deploy a:hover {
    text-decoration: none; }

div.loft-deploy.staging div.border {
  background-color: lime;
  position: fixed; }
div.loft-deploy.staging a {
  background-color: lime;
  color: black; }

div.loft-deploy.gitflow-develop div.border {
  background-color: aqua;
  position: fixed; }
div.loft-deploy.gitflow-develop a {
  background-color: aqua;
  color: black; }

div.loft-deploy.gitflow-master div.border {
  background-color: fuchsia;
  position: fixed; }
div.loft-deploy.gitflow-master a {
  background-color: fuchsia;
  color: white; }
