/* Color: staging*/
$staging: #00ff00;
$text_on_staging: #000;

/* Color: dev.gitflow-master*/
$dev_master: #ff00ff;
$text_on_dev_master: #fff;

/* Color: dev.gitflow-develop*/
$dev_develop: #00ffff;
$text_on_dev_develop: #000;

/**
 * Positioning
 */
div.loft-deploy {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10001;
  div.border {
    position: fixed;
  }
  a {
    position: fixed;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    bottom: 0;
    width: auto;
    z-index: 231;
    padding: 3px 10px 3px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
  }
  div.border.n {
    height: 8px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  div.border.e {
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 8px;
  }
  div.border.s {
    bottom: 0px;
    height: 8px;
    left: 0px;
    right: 0px;
  }
  div.border.w {
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 8px;
  }
  a:hover {
    text-decoration: none;
  }
}

/**
 * Borders & Colors
 */
div.loft-deploy.prod {
  display: none;
}
div.loft-deploy.staging {
  div.border {
    background-color: $staging;
  }
  a {
    background-color: $staging;
    color: $text_on_staging;
  }
}
div.loft-deploy.dev.gitflow-master {
  div.border {
    background-color: $dev_master;
  }
  a {
    background-color: $dev_master;
    color: $text_on_dev_master;
  }
}
div.loft-deploy.dev,
div.loft-deploy.dev.gitflow-develop {
  div.border {
    background-color: $dev_develop;
  }
  a {
    background-color: $dev_develop;
    color: $text_on_dev_develop;
  }
}
